<!-- BEGIN PRE-FOOTER -->
<div class="pre-footer">
  <div class="container">
    <div style="padding: 10px;">
      <h2 style="margin-bottom: 20px;"><b>Fundings</b></h2>
      <div class = "col-md-12 col-sm-12 pre-footer-col" >

        <div class ="col-sm-2">
          <center><img src="https://i.loli.net/2021/03/03/nHtGAlsCfk1mqiN.jpg" alt="Funding1_NSFC.jpg" height="65" ></center>
        </div>

        <div class ="col-sm-2">
          <center><img src="https://i.loli.net/2021/03/03/XEPjpdC9u6NW2eI.jpg" alt="Funding2_浙江大学.jpg" height="65"></center>
        </div>

        <div class ="col-sm-2">
          <center><img src="https://i.loli.net/2021/03/03/jLszflmFnkZPGUT.jpg" alt="Funding3_charite.jpg" height="65"></center>
        </div>

        <div class ="col-sm-2">
          <center><img src="https://i.loli.net/2021/03/03/KrDmPY2Oxg7H1n3.jpg" alt="Funding4_SRRSH.jpg" height="65"></center>
        </div>

        <div class ="col-sm-2">
          <center><img src="https://i.loli.net/2021/03/03/o2uTjxtIcgkHlyY.jpg" alt="Funding5_深睿.jpg" height="65"></center>
        </div>

        <div class ="col-sm-2">
          <center><img src="https://i.loli.net/2021/03/03/1LpCHXwbJuMkSvt.jpg" alt="Funding6_惠合.jpg" height="65"></center>
        </div>

        <div class ="col-sm-2">
          <center><img src="https://i.loli.net/2021/03/03/m4tHonfzqasF7Nh.jpg" alt="Funding7_智瑞思.jpeg" height="65"></center>
        </div>

        <div class ="col-sm-2">
          <center><img src="https://i.loli.net/2021/03/03/tZIpEmOw8W7SNAG.jpg" alt="Funding8_德尔格.png" height="65"></center>
        </div>

      </div>
      <!-- BEGIN BOTTOM ABOUT BLOCK -->
      
      <!-- END BOTTOM ABOUT BLOCK -->

      <!-- BEGIN BOTTOM CONTACTS -->
      <!-- <div class="col-md-6 col-sm-6 pre-footer-col">
        <h2>Contact</h2>
        <address class="margin-bottom-40">
          <%= theme.address_1 %><br />
          <%= theme.address_2 %><br />
          <%= theme.address_3 %><br />
          Phone: <%= theme.phone %><br />
          Email: <a href="mailto:<%= theme.email %>"><%= theme.email %></a
          ><br />
        </address>
      </div> -->
      <!-- END BOTTOM CONTACTS -->

      <% if (theme.twitter_widget_id){ %>
      <!-- BEGIN TWITTER BLOCK -->
      <!-- <div class="col-md-4 col-sm-6 pre-footer-col">

	  <a data-tweet-limit="1" class="twitter-timeline"
	  href="https://twitter.com/<%= theme.twitter_username %>"
	  data-widget-id="<%= theme.twitter_widget_id %>">Tweets by @<%=
	  theme.twitter_username %></a>

	  <script>!function(d,s,id){var
	  js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

          </div> -->
      <!-- END TWITTER BLOCK -->
      <% } %>
    </div>
  </div>
</div>
<!-- END PRE-FOOTER -->

<!-- BEGIN FOOTER -->
<div class="footer">
  <div class="container">
    <div class="row">
      <!-- BEGIN COPYRIGHT -->
      <div class="col-md-6 col-sm-6 padding-top-10">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.title %><br />
        <!-- <a href="javascript:;">Privacy Policy</a> |
        <a href="javascript:;">Terms of Service</a> -->
      </div>
      <!-- END COPYRIGHT -->
    </div>
  </div>
</div>
<!-- END FOOTER -->
